//
extends ./layout.jade

block content
    .container
        h1.text-center Messages
        -
            list= message1
        each item in list
            .card(id=item.id)
               img.col-md-6(src=item.img)
               .usr.col-md-5= item.usr
               .message.col-md-5= item.message
               button(class= "delete") Delete
               input#editimg.col-md-2(placeholder='Enter url of image')
               input#editname.col-md-2(placeholder='Enter User Name')
               textarea#editmessage(placeholder='Enter Message')
               button.edit.col-md-offset-1.post Edit Post